{% extends 'base.html' %}

{% block contents %}
<br>

<div class="container">

    <h1>Who is she? She isn't pigeon</h1>
    <br><br>
    <P>저의 블로그에 오신것을 환영합니다~<br>
        <strong> 저는 전북대학교 멋쟁이 사저처럼 7기 김다민입니다!</strong><br>
        그런 질문들이 많더라구요, 당신은 멋사에 왜 들어오셨나요?<br>
        인터뷰때 말은 거창하게 했지만 사실 멋사에 들어오기 전까지 저는 여기가 뭐하는 집단인지도 몰랐습니다ㅎㅎ<br>
        그냥 코딩을 가르쳐 준다기에 복수전공으로 하고 있는 컴공을 살리고 싶었습니다.<br>
        교양으로 듣던 C언어와 전공C언어는 체감 정도가 다르더군요 <br>
        마치 a를 배웠는데 I'm a pigeon을 쓰라고 하는것 같았습니다.ㅎㅎ<br>
        너무 막막해 하고 있었습니다. 컴퓨터공학을 포기하고 싶지 않았거든요<br>
        그러던 중에 학교 게시판 곳곳에 붙어있던 멋쟁이 사자처럼 포스터를 보고 '지금 이 모습보단 낫겠지'싶어서 지원하게 되었습니다.<br>
        제가 보기와는 다르게 사람만나는 걸 낯설어 해서 처음 만난 사람과 대화를 잘 못하는데 인터뷰때 엄청 긴장했던 기억이 납니다ㅎㅎ..<br>
        그렇게 면접을 보고 학교를 다니면서 교육을 받는데 생각보다 배우는 코딩이 낯설어서 그런지 따라가기가 어렵더군요<br>
        과제도, 강의도 발등에 불떨어지듯이 후다닥 들어버리고 까먹고를 반복하다 보니 이게 배우는건가 싶었습니다.<br>
        그렇지만 여기서 포기하면 너무 후회할것같아서 수 없이 저를 타일렀습니다.<br>
        '언젠간 내가 원하는 아이디어를 내 손으로 실현시키는 날이 오겠지, 다 나와 같이 지금 배우는 이 공부가 어색하겠지'<br>
        그렇게 한 학기가 지나갔습니다. 사실 제일 바쁘고 힘들게 다녔지만 학점도, 결과도 없었던 학기였죠<br>
        공대2개 커리큘럼은 생각보다 너무 길어서 현장실습을 통해 학점을 받아야 하는 상황까지 왔습니다.<br>
        그렇게 중소기업 it회사에 와서 꾸준히 공부를 하고 페이지를 만들어 나가고 있습니다.<br>
        배우면서 시련도 포기하고 싶은 순간도 너무 많아서 쓰면서도 현타가 오지만 언젠간 열심히 살았던 날을 보상 받을 날이 올거라 확신합니다!<br>
        그러니까 우리 멋쟁이들 포기하지 맙시다!ㅎㅎ 같이 존버하면 다같이 빛을 볼 날이 올겁니다!<br>
        아직 뭘 만들지도 않았는데 패기와 포부하나는 git똥차네요 하하<br>
        이렇게 좋은 기회를 포기하기엔 우린 너무 젊잖아요!<i>(Latte is a horse)</i>
        급하게 생각하지말구 '나는 똥멍청이다..나는 비둘기다..그래서 반복만이 답이다..'생각하며 공부합시다!<br>
        그리고 멋사는 좋은 사람들이 너무 많아서 자잘자잘한거 여쭤봐도 성의껏 답해주셔서 너무 감사한것 같아요<br>
        저같이 복전이지만 코딩에 nose도 모르는 사람들이나 비전공자들을 위해 끌어주시는 분들이 많아서 저는 멋사가 좋습니당<br>
        <em> Is it all the same idea? Make some noise~~</em><br>
        소개가 길었네요 ㅎㅎ 아무튼 저는 지금 전북대학교에서 건축공학을 전공하면서 컴퓨터공학을 복수전공하는 학생입니당<br>
        건축공학과에서 설계하면서 배웠던 포토샵, 일러스트, 라이노, 캐드, 루미온, MIDAS 등등이 이런 프로그램도 언젠간 써먹을 날이 오겠죠??<br>
        제가 포기하지 않도록 저와 같은 동료가 되어 주신 전국에 계신 멋쟁이들을 위해 저도 노력해 보겠습니다!<br>
        존버는 승리합니다!!!!!가즈아!!!!!!!!!!
    </P>
</div>

</body>
{%endblock%}

</html>